*{
    padding: 0;
    margin: 0;

}
body{
    box-sizing: border-box;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    font-family: "figtree";
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.main-img{
    width: 100%;
  height: auto;
  display: block;
}
.card{
    background-color: #fff;
    padding:  1.125rem;
    border-radius: 16px;
    border:1px solid black;
    box-shadow: 8px 8px 0px black;
    width: 100%;
    max-width: 300px;
    
}
.avatar{
    display: flex;
    margin-top:  0.9rem;
    font-weight: 800;
}
.profile{
    height: 1.875rem;
    
    margin-bottom: 0.9rem;
}
.highlight{
    background-color:hsl(47, 88%, 63%); 
    max-width: 65px;
    padding: 0.4rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    font-weight: 800;
}
.primary-text{
    margin-top: 10px;
    color:  hsl(0, 0%, 42%);
    font-weight: 200;
}
.dark-grey{
    color:  hsl(0, 0%, 7%);
}
h2{
    margin-top: 10px;
    font-weight: 800;
}
h2:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

